{% extends "AppClassBook/herencia.html" %}

{% load static %}

{% block titulo %}

<h1 class="mb-5">Conviértete en un profesional con nuestros cursos!</h1>

{% endblock %}


{% block pone_lo_que_quieras %}


<h1>Busqueda de Estudiantes</h1>

<form action="/AppClassBook/buscar/" method="GET">
    <input type="number" name="libreta" id="libreta">
    <input type="submit" value="buscar"> 

</form>

{% endblock %}

{% block texto_1%}
                        
{% endblock %}

{% block texto_2 %}

{% endblock %}

{% block texto_3 %}

{% endblock %}

