{% extends "AppClassBook/herencia.html" %}

{% load static %}

{% block titulo %}

<h1 class="mb-5">Conviértete en un profesional con nuestros cursos!</h1>

{% endblock %}


{% block pone_lo_que_quieras %}

<h1>Resultado de Busqueda!</h1>
<p>Estamos buscando el: {{libreta}}</p>
<ul>
    {% for estudiante in estudiantes %}
        <li>{{estudiante.nombre}}</li>
        <li>{{estudiante.libreta}}</li>
        <br>
    {% endfor %}

</ul>

{% endblock %}

{% block texto_1%}
                        
{% endblock %}

{% block texto_2 %}

{% endblock %}

{% block texto_3 %}

{% endblock %}